// Vertical Rhythm (woop woop)
$base-font-size: 9px
$base-line-height: 18px
+establish-baseline

$rem: $base-font-size

// Layout
$navWidth: 33 * $rem

// Colors
$txtContrastThresh: 70%
$bgContrastThresh: 50%
$bgChange: 20%

$cYear: #d15f35
$cMonth: contrast-color($cYear, scale_color($cYear, $lightness: $bgChange, $saturation: -$bgChange), scale_color($cYear, $lightness: -$bgChange, $saturation: -$bgChange), $bgContrastThresh)
$cDay: contrast-color($cYear, #fff, scale_color($cMonth, $lightness: -$bgChange, $saturation: -90%), $bgContrastThresh)
$cMenuText: text-contrast

// Sprites
//=sprite-reposition($x $y...)

=retina-sprites($spritesheet)
  @each $sprite in sprite_names($spritesheet)
    &.#{$sprite}
      $positions: ''
      @each $j in sprite-position($spritesheet, $sprite)
        $positions: append($positions, $j / 2, space)
      height: image-height(sprite-file($spritesheet, $sprite)) / 2
      width: image-width(sprite-file($spritesheet, $sprite)) / 2
      background-position: $positions

  background-image: $spritesheet
  background-size: image-width($spritesheet)/2 image-height($spritesheet)/2

$policy: sprite-map("icons/policy/*.png")