@import compass
@import compass/reset
@import compass/layout
@import vars

//html
//  font-size: 112.5% = 18px
html, body
  +stretch
body
  font-family: 'Raleway', sans-serif
  +box-sizing(border-box)
strong
  font-weight: 700
.nav-wrapper
  width: $navWidth
  +stretch($rem, auto, $rem, $rem)
  overflow: hidden
nav
  width: $navWidth + 15px
  +stretch(0, auto, 0, 0)
  overflow-y: scroll
  &:hover
    cursor: pointer
ul
  list-style: none
li
  display: block
h2
  font-weight: 700
h3, h4
  font-weight: 200
h2, h3
  +adjust-font-size-to(3 * $rem)

  +adjust-leading-to(2.5, 3 * $rem)
  padding-left: 2 * $rem
.year
  +contrasted($cYear, #000, #fff, $txtContrastThresh) //compass mixin, sets text & bg color
.month
  background-color: $cMonth
.day
  position: relative
  color: contrast-color($cYear, inherit, #323232, $txtContrastThresh)
  background-color: $cDay
  &:hover
    background-color: $cDay - #222
  h4
    display: inline-block
    +adjust-font-size-to(2 * $rem)
    +adjust-leading-to(1, 2 * $rem)
    // margin-left: image-width('icons/policy-sc13beb8db6.png')/2 + $rem
    vertical-align: middle
  li
    width: 240px //magic #, fix
    min-height: 7 * $rem

time
  position: absolute
  top: .5 * $rem
  right: .5 * $base-font-size + 15px
  font-size: 1 * $rem
.policy
  display: inline-block
  vertical-align: middle
  height: 32px
  width: 32px
  margin: $spriteHeight / 4
  margin-left: $spriteHeight / 8
  background-image: $policy
  background-size: image-width('icons/policy-sc13beb8db6.png')/2 image-height('icons/policy-sc13beb8db6.png')/2
  // width: image-width($policy) Should work but compass path bug :(
  @each $i in sprite_names($policy)
    &.#{$i}
      background-position: 0 (index(sprite_names($policy), $i) - 1) * $spriteHeight / -2 //length($policy)
#map-wrap
  +stretch(0, 0, 50%, $navWidth + $rem)
#map-canvas
  +stretch($rem, $rem, $rem / 2, $rem)
#info-wrap
  +stretch(50%, 0, 0, $navWidth + $rem)
#desc-wrap
  +stretch(0, 50%, 0, 0)
#desc
  +stretch($rem / 2, $rem, $rem, $rem)
  padding: 2.5rem 3rem
  text-align: justify
  overflow: hidden
  background-color: #dfd0d6